* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  border-spacing: 0;
}

.weather-dashboard {
  background: gainsboro;
  height: 100vh;
  padding: 24px;
}

.current-weather {
  background: black;
  color: white;
  padding: 12px;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.current-weather .current-location {
  display: flex;
  flex-direction: column;
}
.current-weather .current-location .current-city {
  font-size: 42px;
  font-weight: 700;
}
.current-weather .current-temperature {
  font-size: 24px;
}

.forecast {
  background: white;
  padding: 12px;
  border-radius: 12px;
}
.forecast .forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.forecast .forecast-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.forecast .forecast-date-day {
  display: flex;
  flex-direction: column;
}
.forecast .forecast-date-day .forecast-day {
  font-size: 18px;
  font-weight: 700;
}
.forecast .forecast-temp {
  width: 50px;
}
.forecast .forecast-temp-graph {
  display: flex;
  align-items: center;
}

.temp-bar {
  width: 200px;
  height: 12px;
  border-radius: 6px;
  padding: 2px;
  margin: 0 12px;
  background: gainsboro;
  display: flex;
  align-items: center;
  position: relative;
}
.temp-bar .temp-bar-inner {
  background: black;
  height: 8px;
  border-radius: 4px;
  position: absolute;
}
.temp-bar .temp-bar-current {
  background: white;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
}

.top-bar {
  background: black;
  color: white;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
@media (max-width: 768px) {
  .top-bar .greeting {
    display: none;
  }
}
.top-bar .location {
  display: flex;
  gap: 4px;
}
.top-bar .time .digits {
  text-align: center;
  display: inline-block;
  width: 22px;
}

.search-options {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.search {
  height: 80px;
  width: calc(100% - 40px);
}

.message {
  padding: 0 12px;
}

.search-bar {
  background: white;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.search-bar input {
  width: calc(100% - 40px);
  padding: 12px;
}

.search-button {
  height: 40px;
  width: 40px;
  padding: 12px;
}
.search-button img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.options {
  position: relative;
}

.options-button {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.options-button .bar {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: black;
  transition: all 0.2s ease-in-out;
}
.options-button .bar:nth-child(1).visible {
  transform: translateY(6px) rotate(45deg);
}
.options-button .bar:nth-child(2).visible {
  width: 0;
}
.options-button .bar:nth-child(3).visible {
  transform: translateY(-6px) rotate(-45deg);
}

.options-menu {
  width: 240px;
  padding: 12px;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 52px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 52px;
  height: 24px;
  background: black;
  border-radius: 12px;
  position: relative;
}
.toggle-button .toggle-button-inner {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  background: white;
  border-radius: 50%;
  transition: left 0.2s ease-in-out;
}/*# sourceMappingURL=style.css.map */