.search-options {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.search {
  height: 80px;
  width: calc(100% - 40px);
}

.message {
  padding: 0 12px;
}

.search-bar {
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  &.dark-theme {
    background: gainsboro;
  }

  &.light-theme {
    background: white;

    input {
      color: slategray;
    }
  }

  input {
    width: calc(100% - 40px);
    padding: 12px;
  }
}

.search-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    svg {
      height: 20px;
      width: 20px;
      object-fit: contain;
    }

    &.dark-theme {
      path {
        stroke: black;
      }
    }

    &.light-theme {
      path {
        stroke: slategray;
      }
    }
  }
}

.options {
  position: relative;
}

.options-button {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  &.dark-theme {
    .bar {
      background: black;
    }
  }

  &.light-theme {
    .bar {
      background: slategray;
    }
  }

  .bar {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: black;
    transition: all 0.2s ease-in-out;

    &:nth-child(1) {
      &.visible {
        transform: translateY(6px) rotate(45deg);
      }
    }

    &:nth-child(2) {
      &.visible {
        width: 0;
      }
    }

    &:nth-child(3) {
      &.visible {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.options-menu {
  width: 240px;
  padding: 12px;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 52px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  &.dark-theme {
    color: black;
  }

  &.light-theme {
    color: slategray;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.toggle-button {
  width: 42px;
  height: 24px;
  background: black;
  border-radius: 12px;
  position: relative;
  transition: all 0.2s ease-in-out;

  &.dark-theme {
    background: black;
  }

  &.light-theme {
    background: slategray;
  }

  .toggle-button-inner {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    background: white;
    border-radius: 50%;
    transition: left 0.2s ease-in-out;
  }
}
