.search-options {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.search {
  height: 80px;
  width: calc(100% - 40px);
}

.message {
  padding: 0 12px;
}

.search-bar {
  background: white;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  input {
    width: calc(100% - 40px);
    padding: 12px;
  }
}

.search-button {
  height: 40px;
  width: 40px;
  padding: 12px;

  img {
    height: 20px;
    width: 20px;
    object-fit: contain;
  }
}

.options {
  position: relative;
}

.options-button {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  .bar {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: black;
    transition: all 0.2s ease-in-out;

    &:nth-child(1) {
      &.visible {
        transform: translateY(6px) rotate(45deg);
      }
    }

    &:nth-child(2) {
      &.visible {
        width: 0;
      }
    }

    &:nth-child(3) {
      &.visible {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.options-menu {
  width: 240px;
  padding: 12px;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 52px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 52px;
  height: 24px;
  background: black;
  border-radius: 12px;
  position: relative;

  .toggle-button-inner {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    background: white;
    border-radius: 50%;
    transition: left 0.2s ease-in-out;
  }
}
