.App {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  &.dark-theme {
    background: slategray;
  }

  &.light-theme {
    background: gainsboro;
  }
}

.weather-dashboard {
  height: 100vh;
  padding: 24px;
  width: 100%;

  @media (min-width: 768px) {
    width: 768px;
  }
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
