.App {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  &.dark-theme {
    background: slategray;
  }

  &.light-theme {
    background: gainsboro;
  }
}

.weather-dashboard {
  height: 100vh;
  padding: 24px;
  width: 100%;

  @media (min-width: 768px) {
    width: 768px;
  }
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

//CURRENT WEATHER
.current-weather {
  color: white;
  padding: 12px;
  padding-bottom: 24px;
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -12px;
  transition: all 0.5s ease-in-out;

  &.dark-theme {
    background: black;
  }

  &.light-theme {
    background: slategray;
  }

  .current-location {
    display: flex;
    flex-direction: column;

    .current-city {
      font-size: 42px;
      font-weight: 700;
    }
  }

  .current-temperature {
    font-size: 24px;
  }
}

//FORECAST

.forecast {
  padding: 12px;
  border-radius: 12px;
  width: 100%;

  &.dark-theme {
    background: gainsboro;
  }

  &.light-theme {
    background: white;
  }

  .forecast-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &.dark-theme {
      border-bottom: 1px solid #c2c2c2;
    }

    &.light-theme {
      border-bottom: 1px solid gainsboro;
      color: slategray;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .forecast-date-day {
    display: flex;
    flex-direction: column;

    .forecast-day {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    .forecast-date {
      font-size: 14px;
    }
  }

  .forecast-temp {
    width: 40px;
    font-size: 14px;

    &.min {
      text-align: right;
    }

    &.max {
      text-align: left;
    }
  }

  .forecast-temp-graph {
    display: flex;
    align-items: center;
  }
}

.temp-bar {
  width: 200px;
  height: 12px;
  border-radius: 6px;
  padding: 2px;
  margin: 0 12px;
  display: flex;
  align-items: center;
  position: relative;

  &.dark-theme {
    background: #c2c2c2;
  }

  &.light-theme {
    background: gainsboro;
  }

  .temp-bar-inner {
    height: 8px;
    border-radius: 4px;
    position: absolute;

    &.dark-theme {
      background: black;
    }

    &.light-theme {
      background: slategray;
    }
  }

  .temp-bar-current {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    background: white;
  }
}
